apiVersion: v1
kind: Secret
metadata:
  name: ntnx-secret
  namespace: ntnx-system
stringData:
  # prism-ip:prism-port:username:password.
  key: {{ nutanix_prim_element_vip }}:{{ nutanix_port }}:{{ nutanix_username }}:{{ nutanix_password }}
